div.bg-container {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    }

div.container {
    background-color: white;
    width: 55vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.top{
    width: 55vw;
    padding:20px
}

div.text-body{
    padding: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width:450px)  {
    div.container {
        width: 100vw;
        margin: 0;
        font-size: 14px;
    }
    img {
        width: 100vw;
        border-radius:0;
    }
    div.top {
        width:100vw;
        padding: 0;
    }
    div.text-body{
        padding:20px
    }
    p.intro-description {
        font-size: 14px;
}
    span.intro-description{
        font-size: 14px;
    }
}

@media (max-width:260px) {
    div.container {
        font-size: 12px;
    }
    p.intro-description {
        font-size: 12px;
 }
    span.intro-description{

        font-size: 12px;  
    }
}

h1.title {
    font-family: "Young serif", sans-serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    font-size: clamp(1rem, 0.3043rem + 3.4783vw, 2rem);
}


.intro-description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(30, 10%, 34%)
}

div.prep-time {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    padding-bottom: 8.75px;
}

h3.prep-title {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: clamp(0.9rem, 0.3043rem + 3.4783vw, 1.15rem);
}

ul {
    padding-left: 10px;
    color:hsl(332, 51%, 32%);
}

li {
    margin: 10px;
    padding-left: 20px;
}

span.bullet-title {
    color: hsl(30, 10%, 34%);
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

span.bullet-text {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    padding-left: 4px;
    font-weight: normal;
}

.h2-title{
    font-family: "Young serif", sans-serif;
    font-weight: 400;
    color:hsl(14, 45%, 36%);
    font-size: clamp(0.9rem, 0.3043rem + 3.4783vw, 1.5rem);
}

ul.ul-ingredients {
    color: hsl(14, 45%, 36%);
    padding-left: 12px;
}

ul.ul-ingredients li span{
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
}

ol.ol-instructions {
  color:hsl(14, 45%, 36%);
  padding-left: 12px;
  font-weight: bolder;
}

div.table {
    display: flex;
    flex-direction: row;
}

div.col-left{
    width: 50%;
}

div.col-right{
    width: 50%;
    font-weight: bold;
    color:hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
}

div.table-el {
    padding-left: 2rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;}

    table{
        width:100%;
        text-align: left;
        padding: 5px;
        border-spacing: 0;
    }

    th{
        color: hsl(30, 10%, 34%);
        font-family: "Outfit", sans-serif;
        font-weight: normal;
    }
td{
    font-weight: bold;
    color:hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
}

th, td {
    border-bottom: solid 1px;
    border-color: hsl(0,0%,70%);
    padding-left: 2rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}

th.last,td.last{
    border: none;
}


